extends ../layout/common
block content
  h1 View User 
  p
    img.rounded-circle(src='/'+user.avatar, width='300px',height='300px',border-radius='50%')
  b Name 
  p=user.name
  span &nbsp;
  b Age
  p=user.age
